[submodule "dotfiles/dotfiles/.vim/bundle/nvim-lsp"]
	path = dotfiles/dotfiles/.vim/bundle/nvim-lsp
	url = https://github.com/neovim/nvim-lsp
[submodule "dotfiles/.vim/bundle/dotfiles/.vim/bundle/omnisharp-vim"]
	path = dotfiles/.vim/bundle/dotfiles/.vim/bundle/omnisharp-vim
	url = https://github.com/OmniSharp/omnisharp-vim
[submodule "dotfiles/.vim/bundle/dotfiles/.vim/bundle/vim-search-pulse"]
	path = dotfiles/.vim/bundle/dotfiles/.vim/bundle/vim-search-pulse
	url = https://github.com/inside/vim-search-pulse
[submodule "dotfiles/.vim/bundle/dotfiles/.vim/bundle/vim-airline"]
	path = dotfiles/.vim/bundle/dotfiles/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "dotfiles/.vim/bundle/dotfiles/.vim/bundle/vim-airline-themes"]
	path = dotfiles/.vim/bundle/dotfiles/.vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "dotfiles/.vim/bundle/dotfiles/.vim/bundle/vim-colorschemes"]
	path = dotfiles/.vim/bundle/dotfiles/.vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes
